@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  height: 100vh;
  background-image: url("./img/Cloud.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.Clouds {
  background-image: url("./img/Cloud.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.Rain {
  background-image: url("./img/Rain.jpg");
  background-repeat: no-repeat;
  color: white;
}

.Thunderstorm {
  background-image: url("./img/Thunderstrom.jpg");
  background-repeat: no-repeat;
  color: white;
}

.Haze {
  background-image: url("./img/Haze.jpg");
  background-repeat: no-repeat;
}
